pipeline/DwhCopy.json
{
	"name": "DwhCopy",
	"properties": {
		"activities": [
			{
				"name": "LookupInConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \nId\n,Source_Type\n,Source_name\n,EnabledCreatedOn\n,EnabledModifiedOn\n,PrimaryKey\n,Source_tab\n,Destiny_tab\n,Source_TabAlias\n,SelectScript\n,WatermarkColumnCreated\n,WatermarkValueCreated\n,WatermarkColumnModified\n,WatermarkValueModified\n  from @{pipeline().parameters.ConfigTable} where EnabledCreatedOn = 1 or EnabledModifiedOn = 1\nIF @@ROWCOUNT = 0 THROW 50000,'No rows in configuration table!',1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DWH_DB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ValuesWithNotDate",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LookupInConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupInConfig').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source_Type, 'Not Date')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Iterator for Copy NotDate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ValuesWithNotDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ValuesWithNotDate').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy NotDatesone  to DWH",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT @{item().SelectScript} FROM @{item().Source_tab}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "truncate table @{item().Destiny_tab}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "CincoC_SRL",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@pipeline().parameters.ConfigTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DWH_DB",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().Destiny_tab}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ValuesWithDate",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LookupInConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupInConfig').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source_Type, 'Date')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Iterator for Copy Date",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ValuesWithDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ValuesWithDate').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy to Datesone to DWH",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT @{item().SelectScript} FROM @{item().Source_tab}\nWHERE @{item().WatermarkColumnCreated} > \n'@{item().WatermarkValueCreated}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "CincoC_SRL",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@pipeline().parameters.ConfigTable\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DWH_DB",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().Destiny_tab}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_UpdateWatermarks",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy to Datesone to DWH",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Ventas].[sp_UpdateWatermak]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@{item().ID}",
											"type": "Expression"
										},
										"type": "Int16"
									},
									"NewWatermark": {
										"value": {
											"value": "@{formatDateTime(utcnow(),'s')}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"NewWatermarkModified": {
										"value": {
											"value": "@{formatDateTime(utcnow(),'s')}",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "CincoC_srlDWH",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ConfigTable": {
				"type": "string",
				"defaultValue": "Ventas.Config"
			}
		},
		"annotations": []
	}
}